
body {
  font-family: 'Homemade Apple', cursive;
  align-content: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-width: 100px;
  min-height: 900px;
  color: white;
}

/* .site-container > section {
  margin: 100px auto;
} */

.top-site {
  background-image: url("caged-bird.jpg");
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}


.top-site::after {
  content: "";
  background: url(caged-bird.jpg);
  opacity: 0.5;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
  z-index: -1;
}

.header {
  margin: 100px auto;
  height: 150px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}


.header h1 {
  justify-content: center;
  flex-direction: column;
  font-size: 4em;
  text-align: center;
  align-items: center;
  align-content: center;
}

.header > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2em;
}

nav {
  height: 50vh;
  border-bottom: 2px solid rgba(236, 236, 236, 0.5);
  /* box-shadow: rgba(236, 236, 236, 0.5) */
}

/* .menu-buttons {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 2fr 1fr 1fr 1fr;
  list-style-type: none;
  grid-row-gap: 15px;
  justify-content: center;
} */

.menu-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
}

.menu-buttons li:hover {
  animation: shake 0.5s;
 /* When the animation is finished, start again */
 animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menu-buttons > li {
  /* min-width: auto; */
  min-height: auto;
  width: 160px;
  border: 3px solid;
  padding: 30px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
  /* align-items: center; */
  margin: auto;
}

li {
  font-size: 25px;
  font-weight: bold;
}
span {
  font-size: 18px;
}

.contact {
  color: black;
}

/* .menu-buttons li p {
position: inline-block;
} */
/* .menu-buttons li:nth-child(1) {
  width: auto;
  background-color: grey;
} */

/* .profile-picture {
  border-radius: 50%;
  float: left;
  margin-right: 50px;
} */
