body {
  font-family: 'Homemade Apple', cursive;
  align-content: center;
  display: flex;
  color: white;
  background-color: teal;
}

.main {
  flex-direction: column;
  justify-content: center;
  /* min-width: 100px; */
  /* min-height: 1000px; */
  /* height: auto; */
  width: 100%;
  height: 100%;
  min-width: 1000px;
  min-height: 1000px;
  /* width: 1000px;
  margin: 0 auto; */
}

.site-container > section {
  height: 50vh;
  /* margin: 100px auto; */
  /* border-bottom: 2px solid rgba(236, 236, 236, 0.5); */
  /* box-shadow: rgba(236, 236, 236, 0.5) */
}

.top-site {
  background-image: url("images/caged-bird.jpg");
  background-color: #cccccc;
  background-size: cover;
  position: relative;
}

.intro {
  /* margin: 100px auto; */
  height: 150px;
  padding: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
}

.intro h1 {
  justify-content: center;
  flex-direction: column;
  font-size: 3em;
  text-align: center;
  align-items: center;
  align-content: center;
}

.summary {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: auto;
}

.summary p {
padding: 10px;
}

.intro > p {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2.5em;
}

.menu-buttons {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  padding-bottom: 5px;
}

.menu-buttons li:hover {
  animation: shake 0.5s;
 /* When the animation is finished, start again */
 animation-iteration-count: infinite;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.menu-buttons > li {
  min-height: auto;
  width: 160px;
  border: 3px solid;
  padding: 30px;
  border-radius: 50% 50% 50% 50%;
  text-align: center;
  margin: auto;
  flex-wrap: wrap;
  /* justify-content: space-evenly; */
  /* align-items: center; */
}

#link {color: white;
text-decoration: none;
}

li {
  font-size: 25px;
  font-weight: bold;
}
span {
  font-size: 18px;
  padding: 10px;
}

.quote {
  padding: 150px;
  font-size: 2em;
}

.quote p:nth-child(1) {
  text-align: left;
  margin: 0;
}
.quote p:nth-child(2) {
  text-align: right;
}

.social-links {
  display: flex;
  flex-direction: column;
  list-style-type: none;
  justify-content: space-evenly;
  align-items: center;
}


/* .menu-buttons li p {
position: inline-block;
} */
/* .menu-buttons li:nth-child(1) {
  width: auto;
  background-color: grey;
} */

/* .profile-picture {
  border-radius: 50%;
  float: left;
  margin-right: 50px;
} */
/* --------------Portfolio------------- */
.nav-bar {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  position: sticky;
}

.about {
  margin-right: 35em;
  flex-wrap: nowrap;
}

.small-boxes {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0;
}

.small-boxes > section {
  padding: 15px;
  /* margin: 10px 50px 10px 50px; */
  height: 300px;
  width: 400px;
  text-align: left;
  justify-content: center;
}

.first-small {
  background-color: #B8B8B8;
}

.second-small {
  background-color: #686868;
}

.big-box {
  display: flex;
  flex-direction: row;
  background-color: #383838;
  justify-content: center;
  text-align: center;
  padding: 25px 20px 25px 20px;
  margin-left: 45px;
  width: 1232px;
  height: 300px;
  flex-direction: column;
}
